In [11]:
import pandas as pd
df = pd.read_csv(r"C:\Users\mukhe\OneDrive\Desktop\Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
import pandas as pd
missing_values = df.isnull().sum()
print(missing_values)

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [13]:
df["Type 2"] = df["Type 2"].fillna("Unknown")
print(df.isnull().sum())

#             0
Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [14]:
df = pd.get_dummies(df, columns=["Type 1", "Type 2"])
df.head()

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,...,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Unknown,Type 2_Water
0,1,Bulbasaur,318,45,49,49,65,65,45,1,...,False,False,False,False,True,False,False,False,False,False
1,2,Ivysaur,405,60,62,63,80,80,60,1,...,False,False,False,False,True,False,False,False,False,False
2,3,Venusaur,525,80,82,83,100,100,80,1,...,False,False,False,False,True,False,False,False,False,False
3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,...,False,False,False,False,True,False,False,False,False,False
4,4,Charmander,309,39,52,43,60,50,65,1,...,False,False,False,False,False,False,False,False,True,False

In [17]:
from sklearn.preprocessing import StandardScaler
num_cols=num_cols = ["Total", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
df.head()

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,...,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Unknown,Type 2_Water
0,1,Bulbasaur,-0.976765,-0.950626,-0.924906,-0.797154,-0.239130,-0.248189,-0.801503,1,...,False,False,False,False,True,False,False,False,False,False
1,2,Ivysaur,-0.251088,-0.362822,-0.524130,-0.347917,0.219560,0.291156,-0.285015,1,...,False,False,False,False,True,False,False,False,False,False
2,3,Venusaur,0.749845,0.420917,0.092448,0.293849,0.831146,1.010283,0.403635,1,...,False,False,False,False,True,False,False,False,False,False
3,3,VenusaurMega Venusaur,1.583957,0.420917,0.647369,1.577381,1.503891,1.729409,0.403635,1,...,False,False,False,False,True,False,False,False,False,False
4,4,Charmander,-1.051836,-1.185748,-0.832419,-0.989683,-0.392027,-0.787533,-0.112853,1,...,False,False,False,False,False,False,False,False,True,False

In [18]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=["Name", "#", "Legendary"])  
y = df["Legendary"] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

Training set shape: (640, 45)
Testing set shape: (160, 45)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
model = LogisticRegression(max_iter=1000, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.4f}")
print("Classification Report:")
print(classification_report(y_test, y_pred))

Model Accuracy: 0.9187
Classification Report:
              precision    recall  f1-score   support

       False       0.95      0.97      0.96       147
        True       0.50      0.38      0.43        13

    accuracy                           0.92       160
   macro avg       0.72      0.68      0.70       160
weighted avg       0.91      0.92      0.91       160